<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/x-icon" href="static/img/favicon.ico"/>
    <title>{{ title }}</title>
    {% module xsrf_form_html() %}
</head>
<body>
    <p>hello {{ uname }} !</p>
    <textarea id="config_textarea" placeholder="输入NOC分配的配置信息"></textarea>
    <select id="service_select" onchange="getTempJS(this.value)">
            <option value="">请下拉选中一个服务模板[ 默认为空 ]</option>
            <option value="sdwan001">华为SD-WAN自环[ 单运营商 ]</option>
            <option value="sdwan002">华为SD-WAN自环[ 双运营商 ]</option>
            <option value="sdwan003">华为SD-WAN子接口自环[ 单运营商]</option>
            <option value="sdwan004">华为SD-WAN子接口自环[ 双运营商]</option>
            <option value="fastip001">FastIP 旁挂模式[ 单运营商 ]</option>
            <option value="fastip002">FastIP 旁挂模式[ 双运营商 ]</option>
            <option value="mpls001">组网 旁挂模式[ 单运营商 ]</option>
            <option value="mpls002">组网 + FastIP 旁挂模式[ 单运营商 ]</option>
        </select><br>
    <button type="button" onclick="getList()">识别(Detect)</button>

    <br><div id="info_dev">
        <label for="cname_input">客户名（Company Name）：</label>
        <input id="cname_input" placeholder="公司名（英文）">
        <select id="area_select" >
            <option value="GZ">广州[ GZ ]</option>
            <option value="SZ">深圳[ SZ ]</option>
            <option value="BJ">北京[ BJ ]</option>
            <option value="SH">上海[ SH ]</option>
            <option value="SU">苏州[ SU ]</option>
            <option value="WH">武汉[ WH ]</option>
        </select><br>
        <label for="cid_select">CID：</label>
        <select id="cid_select"></select><br><br>
         <label for="wan1type_select">WAN1 Type: </label>

<select id="wan1type_select" onchange="setWan1type(this.value)">
    <option default="dhcp">下拉选择[ WAN1 Type ]</option>
    <option value="dhcp">自动获取[ DHCP ]</option>
    <option value="static">静态[ Static ]</option>
    <option value="pppoe">宽带拨号[ PPPoe ]</option>
    <option value="bridge">桥接[ Bridge ]</option>
</select><br>
        <dev id="wan_dev"></dev>

        <dev id="service_dev"></dev>
    </div>
    <div>
        <p>开局信息填写</p>
        <p>***</p>
        <label for="wan_if_select">公网接口（WAN Interface）：</label>
        <select id="wan_if_select">
            {% for type in iflist %}
                {% for item in iflist[type] %}
                    <option value='{{type}}{{ item }}'>{{type}}_{{ item }}</option>
                {% end %}
            {% end %}

        </select>
        <button type="button" onclick="ifConfig('/interface')">新增(Add)</button>
        <button type="button" onclick="initConfig('/config')">配置(Config)</button>
        <br>

        <input type="text" name="controller" maxlength="64" id="controller_input" placeholder="SD-WAN Controller" required>
        <input type="text" name="controllerKey" maxlength="64" id="controllerKey_input" placeholder="Auth Key" required>
    </div><br>
<button type="button" onclick="logout('/login')">退出(Logout)</button>
<button type="button" onclick="sdwanRegest('/login')">SD-WAN开局(SD-WAN Register)</button>
</body>
<script type="text/javascript" src="/static/js/jquery-3.6.0.min.js"></script>
<script>
//提交配置方式：1、一次性提交保存为开机配置，重启；2、SSH一条条刷进去；
const user = '{{ uname }}';
const infoJsn = []
const listIP = []
const listIF = []
const listOther = []
const ipv4_regex = /^(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)(?:\.(?:25[0-5]|2[0-4]\d|1\d\d|[1-9]\d|\d)){3}$/gm;
const ipv4_regex2 = /^([0-9]{1,3}\.){3}[0-9]{1,3}(\/([0-9]|[1-2][0-9]|3[0-2]))?$/gm
//NOC分配的配置文本正则匹配分割为字符串单元
//通过黑名单匹配祛除多余字符串
//生成可选 参数池，手动确认哪些信息留下。
//生成待取用参数列表ListIP、ListIF、ListOther。
function getList() {
    let str = $("#config_textarea").val();
    let lines = str.split(/\r?\n/);
    console.log(lines);
    let id_html ="";
    let pe_html ="";
    let ip_html ="";
    let if_html ="";
    let as_html ="";
    let info_html ="";
    for(let i = 0; i < lines.length; i++) {
        let line = lines[i]
        if(line!==""){
            let l = line.split(":");
            let l0 = l[0];
            let l1 = l[1];
            let jsn = {};
            jsn[l[0]] = l[1];
            if(ipv4_regex2.test(l1)){
                console.log(jsn);
            }
            let html =  "<option value='"+ l1 +"'>"+ line +"</option>";
            switch(l0){
                case 'LineID':
                    info_html+=html;
                    break;
                case 'PE':
                    pe_html+=html;
                    break;
                case 'Tunnel':
                    if_html+=html;
                    break;
                case 'wanip':
                    ip_html+=html;
                    break;
                case 'PE 对接':
                    ip_html+=html;
                    break;
                case 'CE 对接':
                    ip_html+=html;
                    break;
                case 'PE AS号':
                    as_html+=html;
                    break;
                case 'CE AS号':
                    as_html+=html;
                    break;
                default:
                    info_html+=html;
            }
            infoJsn.push(jsn);
        }
    }
    console.log(infoJsn);
    $("#cid_select").append(info_html);

    $("#ac1_select").append(pe_html);
    $("#ac1_if_select").append(if_html);
    $("#ac1_ip_select").append(ip_html);
    $("#ac1_remote_select").append(ip_html);

    $("#ac2_select").append(pe_html);
    $("#ac2_if_select").append(if_html);
    $("#ac2_ip_select").append(ip_html);
    $("#ac2_remote_select").append(ip_html);

    $("#pe1_select").append(pe_html);
    $("#pe1_if_select").append(if_html);
    $("#pe1_ip_select").append(ip_html);
    $("#pe1_remote_select").append(ip_html);
    $("#pe1_local_as_select").append(as_html);
    $("#pe1_remote_as_select").append(as_html);

    $("#pe2_select").append(pe_html);
    $("#pe2_if_select").append(if_html);
    $("#pe2_ip_select").append(ip_html);
    $("#pe2_remote_select").append(ip_html);
    $("#pe2_local_as_select").append(as_html);
    $("#pe2_remote_as_select").append(as_html);
}


function getCookie(name) {
    var r = document.cookie.match("\\b" + name + "=([^;]*)\\b");
    return r ? r[1] : undefined;
}

function setCookie(cname, cvalue, exdays){
    let d = new Date();
    d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
    let expires = "expires="+d.toUTCString();
    document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
}

window.onload=function(){
    const xsrf = getCookie('_xsrf');
    //_xsrf Header Setup for Ajax
    function xsrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!xsrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-XSRFToken", xsrf);
            }
        }
    });
}

//判断是否在前面加0
function checkTime(s){
    return s < 10 ? '0' + s: s;
};

function getTime(d) {
    let yyyy = d.getFullYear();
    let MM = checkTime(d.getMonth() + 1);
    let dd = checkTime(d.getDate());
    let hh = checkTime(d.getHours());
    let mm = checkTime(d.getMinutes());
    return yyyy + "年" + MM + "月" + dd + "日  " + hh + ":" + mm;
};

function ajaxHandler(url,data,datatype,type,callback){
  $.ajax({
    url:url,
    data:data,
    dataType:datatype,
    type:type,
    error:function(msg){
      console.log(JSON.stringify(msg));
    },
    success:function(msg){
      if(msg.hasOwnProperty("url")){
        next(msg["url"]);
      }
      console.log(msg);
    },
    complete:function(msg){
      console.log(JSON.stringify(msg));
    },
  });
}
function ifConfig(){

}

function setWan1type(value){
    switch(value){
        case "dhcp":
            let dhcpTemp = `set interfaces ethernet eth0 description WAN1
            set interfaces ethernet eth0 address dhcp
            set protocols static route 1.1.1.1/32 dhcp-interface 'eth0' `;
            break;
        case "static":
            let staticTemp = `set interfaces ethernet eth0 description WAN1
            set interfaces ethernet eth0 address ${wan1ip}
            set protocols static route 1.1.1.1/32 next-hop ${wan1gw}`;
            break;
        case "pppoe":
            let pppoeTemp = `set interfaces ethernet eth0 description WAN1
            set interfaces ethernet eth0 address dhcp
            set protocols static route 1.1.1.1/32 dhcp-interface 'eth0' `;
            break;
        case "bridge":
            let bridgeTemp = `set interfaces ethernet eth0 description WAN1
            set interfaces ethernet eth0 address dhcp
            set protocols static route 1.1.1.1/32 dhcp-interface 'eth0' `;
            break;
    }
};

function initConfig(url){
    let v = $("#wan_if_select").val();
    console.log(v);
    let if_type = v[0];
    let if_num = v[1];
    let if_all = if_type+if_num;
    $("#wan_if_select").sel
    let type = 'get';
    let datatype = 'text';
    let data = '';
    ajaxHandler(url,data,datatype,type);
    console.log(if_type);
}

function checkVersion(){

}
//动态获取选中的模板JS文件
function getTempJS(value){
    var cvs = {};
    console.log(value);
    $("#service_dev").children().remove();
    switch(value){
        case "fastip001":
            try{
                if($.isFunction(fastip001sub)){
                    $("#service_dev").append(fastip001html);
                    console.log("fastip001 已下载");
                };
            }catch(e){
                js_path = "/static/js/"+ value + ".js";
                $.getScript(js_path, function(){});
                console.log("fastip001 未下载");
            };
            break;
        case "fastip002":
            try{
                if($.isFunction(fastip002sub)){
                    $("#service_dev").append(fastip002html);
                    console.log("fastip002 已下载");
                };
            }catch(e){
                js_path = "/static/js/"+ value + ".js";
                $.getScript(js_path, function(){});
                console.log("fastip002 未下载");
            };
            break;
    };

};


function logout(url){
  let type = 'delete';
  let datatype = 'json';
  let data = '';
  ajaxHandler(url,data,datatype,type);
}

function ipNext(str){
    let s = str.split('.');
    let s1 = Number(s[3])+1;
    let s2 = Number(s[3])+2;
    ip1 = `${s[0]}.${s[1]}.${s[2]}.${s1.toString()}`;
    ip2 = `${s[0]}.${s[1]}.${s[2]}.${s2.toString()}`;
    return [ip1,ip2];
}

function next(url){
  console.log('redirect to===>' + url);
  if(url!=null){
    window.location.href = url;
  }
}

</script>
</html>